{% extends "layout.html" %}
{% block content %}
<div class="download">
    <a href="{{ download_link }}">
        <button class="download-button">Download</button>
    </a>
    <a href="{{ release_link }}">
        <button class="download-button">Whats New</button>
    </a>

    <div class="info">
        <h1 class="info-label">V 1.2.1</h1>
        <h2 class="info-text">Added: <br> <br>
            Stack: <br><br>
            Push() <br>
            Pop() <br>
            Peek() <br>
            Is_empty() <br>
            Size() <br> <br>
            
            Queue:<br><br>
            __repr__()<br>
            Append()<br>
            Appendleft()<br>
            Pop()<br>
            Popleft<br>
            Clear()<br>
        </h2>
    </div>

    <div class="info">
        <h1 class="info-label">V 1.1.0</h1>
        <h2 class="info-text">Added: <br> <br>
        get_int_line() <br>
        get_float_line() <br>
        get_bool_line() <br> <br>

        int_put() <br>
        float_put() <br>
        list_put() <br>
        tupel_put() <br>

        </h2>
    </div>
</div> 
{% endblock %}