<footer class="footer">
    <div class="flex-row" style="padding-left: 100px; padding-top: 25px; padding-bottom: 25px;">
        <h1>Ecliptics Competitive Tools</h1>
        <h3 style="width: 40%;">Ecliptics Competitive Tools is a python package with a bunch of classes and functoins that halp with compedative programming.<br><br>
        Ecliptics Competitive Tools is a python package for python 3.13.2 <br><br>
    you can download it here: <a href="/download" style="color: var(--text_colour);">Download</a></h3>
    </div>
    <div class="flex-column" style="gap: 100px; padding-right: 150px; padding-top: 25px;">
        <div class="flex-row">
            <h1>Documentation</h1>
            <a href="/class" class="link-text">
                <h2>Classes</h2>
            </a>
            <a href="/functions" class="link-text">
                <h2>Functions</h2>
            </a>
        </div>
        <div class="flex-row">
            <h1>Downloads</h1>
            <a href="https://github.com/EclpticRanger/Ecliptics-Competitive-Tools" class="link-text">
                <h2>Github</h2>
            </a>
            <a href="/download" class="link-text">
                <h2>Download</h2>
            </a>
        </div>
        <div class="flex-row" style="width: 192px;">
            <h1>Contact Me</h1>
            <a href="mailto:24310@burnside.school.nz" class="link-text">
                <h2>Email</h2>
            </a>
            <a href="/feedback" class="link-text">
                <h2>Feedback</h2>
            </a>
        </div>
    </div>
</footer>