<footer class="footer">
    <div class="flex-row" style="padding-left: 100px; padding-top: 25px; padding-bottom: 25px;">
        <h1>Ecliptics Competitive Tools</h1>
        <h3 style="width: 40%;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolores explicabo quam odit molestias quae consectetur sapiente suscipit iusto aliquam est pariatur earum a eveniet debitis tempore itaque, sint officia.</h3>
    </div>
    <div class="flex-column" style="gap: 150px; padding-right: 250px; padding-top: 25px;">
        <div class="flex-row">
            <h1>Label</h1>
            <a href="https://github.com/EclpticRanger/Ecliptics-Competitive-Tools" class="link-text">
                <h2>Github</h2>
            </a>
            <a href="/download" class="link-text">
                <h2>Download</h2>
            </a>
        </div>
        <div class="flex-row" style="width: 192px;">
            <h1>Contact Me</h1>
            <a href="mailto:24310@burnside.school.nz" class="link-text">
                <h2>Email</h2>
            </a>
        </div>
    </div>
</footer>