{% extends "layout.html" %}
{% block content %}
<div class="home">
    <div class="info">
        <h1 class="info-label">What is Ecliptics Competitive Tools</h1>
        <h2 class="info-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum at quo unde aut laudantium id, officia voluptate sit odit consectetur adipisci sapiente, odio vero nostrum ipsum. Ratione natus voluptate distinctio. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla architecto sapiente corrupti unde, similique voluptates nostrum molestiae sequi atque ea natus. Distinctio harum veniam iure corrupti velit voluptas, similique nam?</h2>
    </div>
    <div class="info">
        <a href="/functions" style="text-decoration: none;">
        <h1 class="info-label">Functions</h1>
        <h2 class="info-text">
            get_int_line()<br><br>
            get_float_line()<br><br>
            get_bool_line()<br><br>
            int_put()<br><br>
            float_put()<br><br>
            list_put()<br><br>
            tupel_put()<br>
        </h2>
        </a>
    </div>
</div>
{% endblock %}