{% extends "layout.html" %}
{% block content %}
<div class="home">
    <div class="info">
        <h1 class="info-label">What is Ecliptics Competitive Tools</h1>
        <h2 class="info-text">What is Ecliptics Competitive Tools. Ecliptics Competitive Tools is a python package with a bunch of classes and functoins that halp with compedative programming. This Exsists to make it so you dont have to write everything things every time <br><br>
        Ecliptics Competitive Tools is a python package for python 3.13.2 <br><br>
    you can download it here: <a href="/download" style="color: var(--text_colour);">Download</a></h2>
    </div>

    <div class="info">
        <h1 class="info-label">Feedback</h1>
        <h2 class="info-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur dolore adipisci expedita soluta at, perspiciatis obcaecati, eaque, reprehenderit atque a! Praesentium, atque. Commodi culpa praesentium quo! Laudantium, dignissimos? Adipisci.</h2>
        <a href="/feedback">
            <button class="info-button" style="margin-top: 0px; width: 50%; height: 150px; font-size: 50px;">Feedback</button>
        </a>
    </div>

    <div class="info">
        <a href="/functions" style="text-decoration: none;">
        <h1 class="info-label">Functions</h1>
        <h2 class="info-text">
            get_int_line()<br><br>
            get_float_line()<br><br>
            get_bool_line()<br><br>
            int_put()<br><br>
            float_put()<br><br>
            list_put()<br><br>
            tupel_put()<br>
        </h2>
        </a>
    </div>

    <div class="info" style="margin-bottom: 250px;">
        <a href="/class" style="text-decoration: none;">
        <h1 class="info-label">Classes</h1>
        <h2 class="info-text">
            Stack: <br><br>
            Push() <br>
            Pop() <br>
            Peek() <br>
            Is_empty() <br>
            Size()
<br><br><br>
            Queue:<br><br>
            __repr__()<br>
            Append()<br>
            Appendleft()<br>
            Pop()<br>
            Popleft<br>
            Clear()<br>
        </h2>
        </a>
    </div>
    
</div>
{% endblock %}