
html {
    --light-background: #b9d9f5;
    --medium-background: #5781ad;
    --dark-background: #375f93;
    --text-color: #f5f5f5;
}
html, body{
    margin: 0;
    background-color: var(--light-background);
    overscroll-behavior: none;
    font-family:'Courier New', Courier, monospace;
}

.flex-column{
    flex-direction: row;
    display: flex;
}

.flex-row{
    flex-direction: column;
    display: flex;
}

.home{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    flex-direction: column;
}

.header-button{
    height: 150%;
    width: 6em;
    font-size: large;
    border-color: var(--dark-background);
    background-color: var(--dark-background);
    color: var(--text-color);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
}

header {
    background-color: var(--dark-background);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text{
    color: var(--text-color);
}

.footer{
    background-color: var(--dark-background);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color);
}

.link-text{
    color: var(--text-color);
    text-decoration: none;
}

.download{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
    padding-bottom: 300px;
    gap: 50px;
}

.download-button{
    color: var(--text-color);
    background-color: var(--medium-background);
    border-color: var(--medium-background);
    height: 100px;
    width: 500px;
    border-radius: 25px;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.info{
    background-color: var(--medium-background);   
    width: 70%;
    border-radius: 25px;
    margin-top: 210px;
    align-content: center;
}

.info-text{
    color: var(--text-color);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-decoration: none;
}
.info-subtext{
    color: var(--text-color);
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-decoration: none;
}

.info-label{
    color: var(--text-color);
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    font-size: 45px;
    text-decoration: none;
}

.info-button{
    height: 40px;
    width: 6em;
    font-size: large;
    border-color: var(--medium-background);
    background-color: var(--medium-background);
    color: var(--text-color);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.info-input{
    color: var(--text-color-invert);
    background-color: var(--light-background);
    border-color: var(--dark-background);
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
    text-decoration: none;
    text-wrap: inherit;
}

.feedback-button{
    height: 150%;
    width: 6em;
    font-size: large;
    border-color: var(--dark-background);
    background-color: var(--dark-background);
    color: var(--text-color);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
}

.feedback-box{
    width: 85%;
    background-color: var(--med-dark-background);
    border-radius: 10px;
    margin-left: 100px;
}

.feedback-text{
    color: var(--text-color);
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.feedback-subtext{
    color: var(--text-color);
    padding-left: 50px;
    padding-bottom: 50px;

}